.google-map-container {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 100px;
  }
  
  .map-wrapper {
    flex: 1;
  }
  
  .location-info {
    margin-left: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px; /* Adjust width as needed */
  }