.right-section {
  width: 30%;
  background-color: white;
  padding: 20px;
}np

.location-image {
  width: 90%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.location-info {
  margin-bottom: 20px;
}

.location-name {
  font-family: 'Inter', sans-serif;
  font-size: 35px;
  font-weight: normal;
  color: black;
}

.location-address {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: normal;
  color: black;
}

.location-description {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: black;
}

.rating-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.overall-rating {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: black;
  margin-right: 10px;
}

.star {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  pointer-events: none; /* Ensure the stars are not clickable */
}

.number-of-reviews {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: black;
}

.write-review-button {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: #00B4F5;
  width: 135px;
  height: 70px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.tags-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.tag {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: white;
  background-color: #006BC3;
  padding: 5px 10px;
  border-radius: 8px;
  margin-right: 10px;
}

.see-more-tags {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: white;
  background-color: #006BC3;
  padding: 5px 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.star-ratings {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 20px;
}

.rating-title {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-style: italic;
  color: black;
  margin-right: 10px;
}

.rating-value {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  color: black;
  margin-right: 10px;
}

.stars {
  display: flex;
}

.reviews-summary-title {
  font-family: 'Inter', sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: black;
  margin-bottom: 10px;
}

.reviews-summary {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: black;
  margin-bottom: 20px;
}

.read-reviews-button {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: #66ABE8;
  width: 522px;
  height: 44px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}