/* Normalize styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px; /* Base font size */
}

body {
  font-family: 'Nunito', sans-serif;
  line-height: 1.6;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
}

.right-section {
  width: 30%;
  background: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto; /* Use auto instead of scroll */
}

.right-section .location-image {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 10px;
  object-fit: cover; /* Ensure the image maintains its aspect ratio */
}

.right-section .location-info h1,
.right-section .location-info h2 {
  margin: 5px 0;
}

.right-section ul {
  padding-left: 20px;
  width: 30%;
  background-color: white;
  padding: 20px;
}

.location-info {
  margin-bottom: 20px;
}

.location-name {
  font-size: 2.1875rem; /* 35px */
  font-weight: normal;
  color: black;
}

.location-address {
  font-size: 1.25rem; /* 20px */
  font-weight: normal;
  color: black;
}

.location-description {
  font-size: 0.9375rem; /* 15px */
  font-weight: normal;
  color: black;
}

.rating-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.overall-rating {
  font-size: 2.5rem; /* 40px */
  font-weight: 500;
  color: black;
  margin-right: 10px;
}

.star {
  width: 2.5rem; /* 40px */
  height: 2.5rem; /* 40px */
  margin-right: 10px;
  pointer-events: none; /* Ensure the stars are not clickable */
}

.number-of-reviews {
  font-size: 0.9375rem; /* 15px */
  font-weight: normal;
  color: black;
}

.write-review-button {
  font-size: 1.5rem; /* 24px */
  font-weight: bold;
  color: white;
  background-color: #00B4F5;
  width: 8.4375rem; /* 135px */
  height: 4.375rem; /* 70px */
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.tags-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap; /* Ensure tags wrap to the next line */
}

.tag {
  font-size: 1.25rem; /* 20px */
  font-weight: normal;
  color: white;
  background-color: #006BC3;
  padding: 5px 10px;
  border-radius: 8px;
  margin-right: 10px;
  margin-bottom: 5px; /* Add bottom margin for wrapping */
}

.see-more-tags {
  font-size: 1.25rem; /* 20px */
  font-weight: normal;
  color: white;
  background-color: #006BC3;
  padding: 5px 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.star-ratings {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 20px;
}

.rating-title {
  font-size: 1.25rem; /* 20px */
  font-style: italic;
  color: black;
  margin-right: 10px;
}

.rating-value {
  font-size: 1.25rem; /* 20px */
  color: black;
  margin-right: 10px;
}

.stars {
  display: flex;
}

.reviews-summary-title {
  font-size: 1.5625rem; /* 25px */
  font-weight: 500;
  color: black;
  margin-bottom: 10px;
}

.reviews-summary {
  font-size: 1.25rem; /* 20px */
  font-weight: normal;
  color: black;
  margin-bottom: 20px;
}

.read-reviews-button {
  font-size: 1.5rem; /* 24px */
  font-weight: bold;
  color: white;
  background-color: #66ABE8;
  width: 32.625rem; /* 522px */
  height: 2.75rem; /* 44px */
  border-radius: 10px;
  border: none;
  cursor: pointer;
}