.App {
  text-align: center;
  background: linear-gradient(to right, #00B4F5, #00698F);
  height: 100vh; 
  margin: 0; 
}

.App-header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  color: white;
  font-size: 100px;
}

.App-link {
  color: #61dafb;
}