.home-container {
    display: flex;
    height: 100vh;
  }
  
  .left-section {
    flex: 3; /* 75% of the page */
    background: #cccccc; /* Gray background */
    padding: 20px;
  }
  
  .right-section {
    flex: 1; /* 25% of the page */
    background: #ffffff; /* White background */
    padding: 20px;
  }
  
  .tabs {
    display: flex;
    justify-content: space-between; /* Space out the tabs horizontally */
    margin-top: 20px;
  }
  
  .tab {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    background-color: #ccc;
    color: white;
    cursor: pointer;
    margin: 0 10px;
    flex: 1; /* Make tabs take equal space */
    text-align: center; /* Center the text inside the tabs */
  }
  
  .tab.active {
    background-color: #00698F;
  }
  
  .tab:hover {
    background-color: #005577;
  }