.home-container {
    display: flex;
    height: 100vh;
  }
  
  .left-section {
    flex: 3; /* 75% of the page */
    background: #cccccc; /* Gray background */
    padding: 20px;
  }
  
  .right-section {
    flex: 1; /* 25% of the page */
    background: #ffffff; /* White background */
    padding: 20px;
  }
