.review-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    padding: 100px;
    box-sizing: border-box;
  }
  
  .review-content {
    display: flex;
    justify-content: space-between;
    width: 80%; /* Adjust as needed */
    max-width: 1200px; /* Adjust as needed */
  }
  
  .review-left {
    width: 45%;
    margin-right: 100px; /* Add margin to the right */
  }
  
  .review-right {
    width: 45%;
  }
  
  .ratings {
    margin-top: 20px;
  }
  
  .rating {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .form-group textarea {
    height: 150px; /* Increase the height of the description box */
  }
  
  button {
    padding: 10px 20px;
    background-color: #00698F;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005577;
  }